<!DOCTYPE html>
<html>
<head>
  <title>Stripe Checkout Example</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
</head>
<body>
    <section class="section">
        <div class="container">
        @RenderBody()
        </div>
    </section>
</body>
</html>